<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <% include scripts-ext %>

    <div class="container">
      <h3>Metronome page!</h3>
      
      <div class="col-md-2">
        <button type="button" id="metronome-play" class="btn btn-primary btn-block">
          <span class="glyphicon glyphicon-play"></span>
        </button>
        <button type="button" id="metronome-pause" class="btn btn-primary btn-block">
          <span class="glyphicon glyphicon-pause"></span>
        </button>

      </div>

    <script src="/javascripts/global.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>