<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <% include scripts-ext %>

    <div class="container">
      <h3><%= exerciseName %></h3>
      
      <% if (typeof folderName !== 'undefined') {%>
        <div class="row" id="homeBreadCrumb" >
          <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/folder/<%= folderId %>"><%= folderName %></a></li>
          </ol>
        </div>
      <% } else { %>
        <div class="row" id="homeBreadCrumb" >
          <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
          </ol>
        </div>
      <% } %>

    <script src="/javascripts/global.js"></script>
  </body>
</html>