<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <p>This is your home page</p>
    </div>
    <% include scripts-ext %>
    <script src="javascripts/global.js"></script>
  </body>
</html>