<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <h2>Welcome <%= user.firstName %>!</h2>

      <% if (locals.errorMsg) {%>
        <p><%= errorMsg %></p>
      <% } %>

      <!-- Create new exercise, folder or stack -->
        
      <div class="row" id="create-actions">
          
        <!-- Create new exercise. -->
          
        <div class="col-sm-2">
          <a href="#newExerciseModal" role="button" data-toggle="modal" class="btn btn-large btn-danger">New exercise</a>

          <!-- Modal definition for New exercise button click -->
            
          <div class="modal fade" id="newExerciseModal">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create a new exercise</h4>
                </div><!-- end modal-header -->

                <div class="modal-body">
                  <form action="/createexercise" method="post" class="form-horizontal">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <input type="hidden" name="folderName" value="root" > 
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="inputName">Name</label>
                      <div class="col-lg-10">
                        <input class="form-control" id="exerciseName" name="exerciseName" placeholder="Name" type="text">
                        <hr>
                        <button class="btn btn-success pull-right" type="submit">Create!</button>
                      </div>
                    </div>
                  </form>

                </div>  
              </div>
            </div>
          </div><!-- end New Exercise Modal -->
            
        </div><!-- end col-sm-2 -->

        <div class="col-sm-2">
          <a href="#newFolderModal" target="_blank" class="btn btn-large btn-info">New Folder</a>
        </div><!-- end col-sm-2 -->

        <div class="col-sm-2">
          <a href="#newStackModal" target="_blank" class="btn btn-large btn-warning">New Stack</a>
        </div><!-- end col-sm-2 -->
      </div><!-- end row -->

      <hr>

      <div class="col-sm-6">
        <h4>Your Exercises</h4>
        <div class="list-group">
          <% if (locals.allExercises) { %>
              <% allExercises.forEach(function(eachExercise) {%>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading"><%= eachExercise.name %></h4>
                </a>
              <% }); %>
          <% } %>
         
        </div><!-- list-group -->
      </div>
    </div>
    <% include scripts-ext %>
    <script src="javascripts/global.js"></script>
  </body>
</html>