<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <h1>Home Page Bro</h1>
      <p>Welcome to your home page bro</p>

      <h2>Bro's information</h2>

      <p>First Name: <%= user.firstName %></p>
      <p>Last Name: <%= user.lastName %></p>
      <p>Email: <%= user.email %></p>
      <p>Data: <%= user.data %></p>

    </div>
    <% include scripts-ext %>
    <script src="javascripts/global.js"></script>
  </body>
</html>