<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <h2>Welcome <%= user.firstName %></h2>

      <div class="row" id="create-actions">
        <div class="col-sm-2">
          <a href="#newExerciseModal" role="button" data-toggle="modal" class="btn btn-large btn-danger">New exercise</a>

          <div class="modal fade" id="newExerciseModal">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create a new exercise</h4>
                </div><!-- end modal-header -->

                <div class="modal-body">
                  <form action="/createexercise" method="post" class="form-horizontal">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" > 
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="inputName">Name</label>
                      <div class="col-lg-10">
                        <input class="form-control" id="exerciseName" name="exerciseName" placeholder="Name" type="text">
                        <hr>
                        <button class="btn btn-success pull-right" type="submit">Create!</button>
                      </div>
                    </div>
                  </form>

                </div>  
              </div>
            </div>

          </div><!-- end New Exercise Modal -->
        </div><!-- end col-sm-2 -->

        <div class="col-sm-2">
          <a href="#newFolderModal" target="_blank" class="btn btn-large btn-info">New Folder</a>
        </div><!-- end col-sm-2 -->

        <div class="col-sm-2">
          <a href="#newStackModal" target="_blank" class="btn btn-large btn-warning">New Stack</a>
        </div><!-- end col-sm-2 -->
      </div><!-- end row -->

      <hr>

      <div class="col-sm-6">
        <h4>Your Exercises</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Kale</h4>
            <p class="list-group-item-text">Kale or borecole is a vegetable with green or purple leaves, in which the central leaves do not form a head.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Carrots</h4>
            <p class="list-group-item-text">The carrot is a root vegetable, usually orange in colour, though purple, red, white, and yellow varieties exist. It has a crisp texture when fresh.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Steel-cut oats</h4>
            <p class="list-group-item-text">Steel-cut oats are whole grain groats which have been cut into pieces. They are commonly used in Scotland and Ireland to make porridge.</p>
          </a>
        </div><!-- list-group -->
      </div>
    </div>
    <% include scripts-ext %>
    <script src="javascripts/global.js"></script>
  </body>
</html>