<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head %>
  </head>
  <body class="sign-in">
    <div id="main" class="container">
      <form action="/login" method="post" class="form-signin">
        <h2 class="form-signin-heading">Sign in bro!</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="inputEmail" type="email" placeholder="Email address" required="" autofocus="" class="form-control">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button id="btn-sign-in" type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
        
        <hr>

        <div class="register-div">
          <a href="/register" id="btn-register">
            <button type="button" class="btn btn-danger">Register!</button></a>
        </div>
      </form>
    </div>
    <!-- end main container-->
    
    <% include scripts-ext %>
    <script src="javascripts/global.js"></script>
  </body>
</html>